
{% extends "layout.html" %}

{% block body %}
<div class="main-container">
    <div class="">
        <h1>Discover celkově</h1>
    </div>    
    <div class="col-lg-4 metrics-container">
        <div class="row col-lg-12" style="background-color:#00c0ef">
            <div class="col-lg-9">
                <span style="font-size:26px;">{{answerCount}}</span>
            </div>
            <div class="col-lg-3" style="text-align:right;">
                <i class="fa fa-archive fa-4" style="font-size: 35px;"></i>
            </div>
            <div class="clearfix"></div>
            <p style="font-weight:bold;">Sebraných odpovědí</p>                    
        </div>    
    </div>
    <div class="col-lg-4 metrics-container">
            <div class="row col-lg-12" style="background-color:#00a65a">
                <div class="col-lg-9">
                    <span style="font-size:26px;">{{aibCount}}</span>
                </div>
                <div class="col-lg-3" style="text-align:right;">
                    <i class="fa fa-graduation-cap fa-4" style="font-size: 35px;"></i>
                </div>
                <div class="clearfix"></div>
                        <p style="font-weight:bold;">Předmětů, týmových workshopů a her ve 2017</p>                         
            </div>    
    </div>

        <div class="col-lg-4 metrics-container">
                <div class="row col-lg-12" style="background-color:#f39c12">
                    <div class="col-lg-9">
                        <span style="font-size:26px;">{{impactCount}}</span>
                    </div>
                    <div class="col-lg-3" style="text-align:right;">
                        <i class="fa fa-child fa-4" style="font-size: 35px;"></i>
                    </div>
                    <div class="clearfix"></div>
                        <p style="font-weight:bold;">Ovlivněných budoucností</p>                                        
                </div>    
            </div>
        

</div>
{% endblock %}
